* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 70vh;
  background-color: #30633b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 70%;
  max-width: 750px;
  padding: 20px;
  margin: 50px;
  margin-top: 40px;
}
.option ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.option ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}
.option ul li a:hover {
  color: gray;
}
.titre {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  Gap: 100px;
}
.logo i {
  font-size: 35px;
  color: #5b9f8c;
}
.content h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content p {
  font-size: 14px;
  line-height: 1.8;
}
.body {
  width: 100%;
  background: white;
  padding: 60px 80px;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
}

.body-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  padding-bottom: 30px;
}

.body-box:nth-child(1),
.body-box:nth-child(2) {
  border-bottom: 1px solid #dcdcdc;
}

.icon {
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: #30633b;
  color: white;

  font-size: 30px;
  flex-shrink: 0;
}

.space {
  height: 100px;
  background-color: #30633b;
}

.text-content h2 {
  color: #74ad9a;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.text-content p {
  line-height: 1.7;
  color: #555;
}
.gallery {
  padding: 70px 80px;
  background: #f5f5f5;
  text-align: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 40px;
}

.gallery-card img {
  width: 100%;
  height: 180px;
  background-color: #30633b;
}

.gallery-card p {
  margin-top: 15px;
  line-height: 1.6;
  color: #555;
  text-align: left;
}

.gallery-btn {
  padding: 20px 40px;
  border: none;
  background: #30633b;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.contact {
  background-color: #30633b;
  background-size: cover;
  background-position: center;

  padding: 70px 80px;
  color: white;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.contact h2 {
  margin-bottom: 30px;
  font-weight: 400;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.info-card {
  display: flex;
  gap: 15px;
}

.info-icon {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);

  font-size: 20px;
}

.info-card h3 {
  margin-bottom: 8px;
  font-weight: 400;
}

.info-card p {
  font-size: 14px;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.form-row input {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;

  border: 1px solid rgba(255,255,255,0.5);
  background: transparent;
  color: white;

  outline: none;
}

.contact-form textarea {
  height: 140px;
  resize: none;
  margin-bottom: 20px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255,255,255,0.8);
}

.contact-form button {
  background: #4c4f77;
  color: white;

  border: none;

  padding: 12px 30px;

  cursor: pointer;
}

footer {
  background-color: #30633b; 
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 13px;
}